extends layout

block content
  div.wrapper
    div.output
      ul.messages
        li(style="color: blue") Welcome on vt.io, choose a number !
    div.inpt
      form(action="")
        input.number(autocomplete="off")
        input.btn-send(type="submit", value="Send")
