extends layout

block content
  h1= title
  div.wrapper
    div.output
      ul.messages  
    div.input
      form(action="")
        input.number(autocomplete="off")
        input.btn-send(type="submit")
