extends layout

block content
  div.wrapper
    div.output
      ul.messages
        li Welcome on vt.io
    div.inpt
      form(action="")
        input.number(autocomplete="off")
        input.btn-send(type="submit")
