doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='//localhost:35729/livereload.js')
  script(src='/lib/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/connection.js')
